html {
  scroll-behavior: smooth;
}
.herobg {
  position: relative;
  background-image: url("assets/world.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 70%;
}
.herobg::after {
  overflow-x: hidden;
  content: "";
  width: 90%;
  background: linear-gradient(
    132deg,
    rgba(163, 25, 25, 1) 0%,
    rgba(92, 30, 86, 0) 50%,
    rgb(21, 47, 176) 100%
  );

  position: absolute;
  z-index: 0;
  top: -20px;
  bottom: -20px;
  filter: blur(150px);
}

/* ?Wavy css */

.wave1 {
  transform: rotate(0deg);
  transition: 0.3s;
}
.wave2 {
  transform: translate(0, 0px);
  opacity: 1;
}
.wave3 {
  transform: translate(0, 50px);
  opacity: 0.9;
}

.bg-animated {
  animation-name: color_change;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes color_change {
  0% {
    background-color: #347bff;
  }
  25% {
    background-color: #349dff;
  }
  50% {
    background-color: #34b5ff;
  }
  75% {
    background-color: #34d0ff;
  }
  100% {
    background-color: rgb(63, 159, 250);
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
